


body{
    width: 65%;
    margin: auto;
}




#logo {
    width: 20%;
    padding-left: 4px;
}

header {
    background-image: url("/asset/img/pattern.png");
    background-color: rgb(86, 165, 234);
    padding-top: 30px;
    background-size: 30%;
}


main{
    padding-left: 4px;
}


/* ------------------------------------------------------------- */

/* color first section grey */
strong{
    color: gray;
}

/* color The Booleaner lightblue */
#author {
    color: rgb(158, 153, 236);
}

/* date dimension */
#date {
    font-size: 12px;
}

/* ---------------------------------------------------------------- */



/* size image description */
#img-description {
    font-size: 12px;
}


.margin-top {
    margin-top: 20px;
}



/* -------------------------------------------------------------- */

/* table */

#tablehead{
    background-color: rgb(101, 136, 248);
    color: white;
}

#tablesection{
    background-color: rgb(200, 233, 248);
}


tr {
    padding-right: 20%;
}

.column3 {
    width: 50%;
}

th{
    text-align: left;
}

/* ------------------------------------------------------------------- */



/* footer */

#img-footer1{
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    width: 312px;
    height: 208px;
    margin-top: 8px;
}

#img-footer2{
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    width: 311px;
    height: 207px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.img-footer{
    color: white;
    font-weight: bold;
    text-indent: 10px;
    line-height: 1.8;
}