

#logo {
    width: 20%;
    padding-left: 4px;
}

header {
    background-image: url("/asset/img/pattern.png");
    background-color: rgb(127, 186, 238);
    padding-top: 30px;
    background-size: 30%;
}


main{
    padding-left: 4px;
}


/* ------------------------------------------------------------- */

/* color first section grey */
.first-section{
    color: gray;
}

/* color The Booleaner lightblue */
#author {
    color: rgb(158, 153, 236);
}

/* date dimension */
#date {
    font-size: 12px;
}

/* ---------------------------------------------------------------- */



/* size image description */
#img-description {
    font-size: 12px;
}


.margin-top {
    margin-top: 20px;
}